* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linen;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app h1 {
  margin-top: 0;
  margin-bottom: 2rem;
  padding: 0.5rem 0;
  background: darkslategray;
  color: linen;
  text-align: center;
}

.app footer {
  margin-top: 2rem;
  text-align: center;
}
